header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 10px;
    position:sticky;
    top: 0px;
    right: 0px;
    z-index: 2;
}

header img {
    width: 60px;
    border-radius: 50%;
}

header nav {
    /* border: 1px solid yellow; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    /* border: 1px solid white; */
    display: flex;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

header a {
    color: white;
    text-decoration: none;
}


header a:hover {
    color:#c471ed;
    
}

@media (max-width:415px) {
    header {
        flex-direction: row;
    }

    header img {
        width: 50px;
        border-radius: 50%;
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        justify-content: center;
        gap: 15px;
        font-size: 16px;
    }
}
